<div id="home" class="center">
    <p id="titlebar">Kwan Yoon</p>
    <hr width="40%" style="margin: auto;">
    <p id="sub-titlebar">Website Resume</p>

    <a target="_blank" href="https://www.linkedin.com/in/kwan-yoon-990431195/">
        <img id="linkedin" src="icons/linkedin.png" class="icon">
    </a>
    <a target="_blank" href="https://github.com/KwanYoon">
        <img id="github" src="icons/github.png" class="icon">
    </a>
    <a target="_blank" href="https://kwanyoon.netlify.app/">
        <img id="website" src="icons/website.png" class="icon">
    </a>
</div>